/GestaodePedidodVizabelWeb/.config
/GestaodePedidodVizabelWeb/.vs/GestaoPedidosVizabel/CopilotIndices/17.14.1530.14912
/GestaodePedidodVizabelWeb/.vs/GestaoPedidosVizabel/DesignTimeBuild/.dtbcache.v2
/GestaodePedidodVizabelWeb/.vs/GestaoPedidosVizabel/FileContentIndex/61756339-edf2-445b-ba6e-cd629cbe0c06.vsidx
/GestaodePedidodVizabelWeb/.vs/GestaoPedidosVizabel/FileContentIndex/7b5fdabe-a6ac-4089-b54c-6c57b6ceddbd.vsidx
/GestaodePedidodVizabelWeb/.vs/GestaoPedidosVizabel/FileContentIndex/97577d65-652a-4cf4-9237-f4e485569399.vsidx
/GestaodePedidodVizabelWeb/.vs/GestaoPedidosVizabel/FileContentIndex/b938f993-02bb-4d68-bb9b-9cffffdc1b8a.vsidx
/GestaodePedidodVizabelWeb/.vs/GestaoPedidosVizabel/FileContentIndex/b9b5a8d3-d80b-49a1-825b-d7ac0a413f1e.vsidx
/GestaodePedidodVizabelWeb/.vs/GestaoPedidosVizabel/config/applicationhost.config
/GestaodePedidodVizabelWeb/.vs/GestaoPedidosVizabel/v17/.futdcache.v2
/GestaodePedidodVizabelWeb/.vs/GestaoPedidosVizabel/v17/.suo
/GestaodePedidodVizabelWeb/.vs/GestaoPedidosVizabel/v17/DocumentLayout.backup.json
/GestaodePedidodVizabelWeb/.vs/GestaoPedidosVizabel/v17/DocumentLayout.json
/GestaodePedidodVizabelWeb/.vs/GestaoPedidosVizabel/v17/HierarchyCache.v1.txt
/GestaodePedidodVizabelWeb/.vs/ProjectEvaluation/gestaopedidosvizabel.metadata.v9.bin
/GestaodePedidodVizabelWeb/.vs/ProjectEvaluation/gestaopedidosvizabel.projects.v9.bin
/GestaodePedidodVizabelWeb/.vs/ProjectEvaluation/gestaopedidosvizabel.strings.v9.bin
/GestaodePedidodVizabelWeb/bin
/GestaodePedidodVizabelWeb/wwwroot
/GestaodePedidodVizabelWeb/obj
