@model ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<div class="card">
    <div class="card-header bg-danger text-white">
        <h5 class="card-title mb-0">Erro</h5>
    </div>
    <div class="card-body">
        <h1 class="text-danger">Erro.</h1>
        <h2 class="text-danger">Ocorreu um erro ao processar sua solicitação.</h2>

        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }
    </div>
</div>




















