[Unit]
Description=Gestao Pedidos Vizabel Web Application
After=network.target

[Service]
Type=notify
WorkingDirectory=/var/www/gestaopedidos
ExecStart=/usr/bin/dotnet /var/www/gestaopedidos/GestaoPedidosVizabel.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=gestaopedidos
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target




















